  <mat-card>Seja Bem vindo ao portal do corretor</mat-card>
  <mat-card>Aqui você pode gerenciar toda a sua carteira de clientes, acompanhar as renovações e os sinistros e criar campanhas para atrair e reter clientes</mat-card>



  <mat-tab-group dynamicHeight>
    <mat-tab label="Multicálculo">
      <div class="example-large-box mat-elevation-z4">
        Para realizar os cálculos e contratações, você deve fornecer as informações das seguradoras e dos produtos que você comercializa.

      </div>
    </mat-tab>
    <mat-tab label="Importar Arquivos">
      <div class="example-large-box mat-elevation-z4">
        Importe as propostas e apólices dos seus clientes de forma simples e rápida, desta forma, começaremos a te ajudar no gerenciamento da sua carteira.

      </div>
    </mat-tab>

<mat-tab label="Preferências">
  <div class="example-large-box mat-elevation-z4">
    Configure as suas preferências, usuários da plataforma e particularidades de cada seguradora.

  </div>
</mat-tab>
  </mat-tab-group>